html {
	font-family: sans-serif;
	font-size: 18px;
	background-color: #101010;
	color: #ddd;
}

body {
	max-width: 960px;
	margin: auto;
}

#page {
	background-color: #1A1A1A;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 8px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #FFAF20;
}

p {
	padding-left: 4px;
}

footer {
	margin-top: 12px;
	padding-bottom: 8px;
	color: #777;
}

.title {
	color: #fff;
	margin-bottom: 0px;
}

.subtitle {
	margin-top: 0px;
	color: #aaa;
}

.author-and-date {
	font-size: 0.7em;
	display: inline-block;
}

.date {
	font-weight: bold;
}

.sourceCode {
	/*background-color: white;*/
	/*color: black;*/
}

blockquote {
	background-color: #2C2C2C;
}